*{
    box-sizing: border-box;
}
body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.content-box-sm{
    padding: 40px 20px;

}
.content-box-md{
    padding: 80px 20px;
}
.content-box-lg{
    padding: 120px 0;
}
a{
  text-decoration: none;  
  display: inline-block;
}
li{
    position: relative;
}
img{
    width: 100%;
    display: block;
}
a.g-btn{
    padding: 17px 25px;
    background-color: #FAB800;
    color: white;
    border: 1px solid white;
    transition: color, border, background-color .2s ease-in-out;
    
}
a.g-btn:hover{
    background-color: white;
    color: #FAB800;
    border: 1px solid #FAB800;
}
.heading{
    text-align: center;
    max-width: 620px;
    margin: 20px auto 100px auto;
}
.container{
    width: 100%;
    max-width: 1200px;
    /* max-width: 1100px; */
    margin: 0 auto;
}
.topbar{
    background-color: #F5F5F5;

}
.topbar .topbar-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7px;
}
.topbar .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.topbar .info .mail, .phone{
    margin-left: 40px;
}
.topbar .info .mail{
    position: relative;
}
.topbar .info .mail img{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: -22px;
}
.topbar .info .phone{
    position: relative;
}
.topbar .info .phone img{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: -22px;
}
.topbar a{
    color: black;
}
@media screen and (max-width: 520px){
    .topbar .topbar-wrap{
        justify-content: center;
    }
    .topbar .info{
        justify-content: center;
    }
    
    
}
@media screen and (max-width: 330px){
    .topbar .info .phone{
        margin-top: 10px;
    }
    /* .topbar .info .mail, .phone {
        margin-left: 0px;
    } */
}
.menu-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 17px 7px
}
.menu-bar .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu-bar .logo{
    width: 108px;
}
.menu-bar .search{
    width: 18px;
}
.menu-bar .search svg{
    width: 20px;
}
.menu-bar ul{
    padding-right: 20px;
}
.menu-bar ul li{
    display: inline;
    padding-right: 15px;
}

.menu-bar ul li a{
    color: black;
    transition: color .25s ease-in-out;
}
.menu-bar ul li:hover a{
    color: #FAB800;
}
.menu-bar .openBtn{
    width: 40px;
    height: 40px;
    display: none;
    margin-right: 20px;
}
.menu-bar .openBtn svg{
    width: 100%;
    height: 100%;
}
.menu-bar .menu-closeBtn{
    width: 35px;
    height: 35px;
    display: none;
    margin: 10px 15px;
}
.menu-bar .menu-closeBtn svg{
    width: 100%;
    height: 100%;
    fill: white;
}
@media screen and (max-width: 520px){

    .menu-bar ul.dropdown{
        background: rgba(0,0,0,0.7);
        width: 300px;
        height: 100vh;
        position: fixed;
        top:134px;
        left: 0;
        text-align: center;
        padding: 0;
        transform: translateX(-300px);
        transition: transform .5s ease-in-out;
        z-index: 3;
    }
    .menu-bar ul li{
        display: block;
        padding: 10px 20px;
    }
    .menu-bar ul li a{
        color: white;
    }
    .menu-bar ul.dropdown.active{
        transform: translateX(0);

    }
    .menu-bar .openBtn{
        display: block;
    }
    .menu-bar .menu-closeBtn{
        display: block;
        text-decoration: right;
    }
}
@media screen and (max-width: 330px){
    .menu-bar ul.dropdown{
        top: 160px;
    }
}
/* home */
.home{
    position: relative;
    background-image: url(../imgs/bg-img.jpg);
    width: 100%;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.home .home-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 000;
}
.home .home-content{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 100%;
    max-width: 500px;
    align-items: center;
    color: white;
    position: relative;
    z-index: 9999;
}
.home .home-content h1{
    font-size: 60px;
    font-family: Roboto;
    margin-bottom: 0;
}
.home .home-content p{
    /* line-height: 1.17; */
    /* font-size: 14px; */
    padding-right: 20px;
}
.home .home-content .btn{
    margin-top: 30px;
}
@media screen and (max-width: 575px){
    .home .home-content h1{
        font-size: 45px;
        margin: 0;
        line-height: 1;
    }
}
.home-footer{
    background-color: #FAB800;
}
.home-footer .footer-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 17px 15px;
}
.home-footer .footer-wrap p{
    color: white;
}
.home-footer .footer-wrap p a{
    text-decoration: underline;
    color: black;
}
.home-footer .footer-wrap .btn a{
    background-color: white;
    color: #FAB800;
    border: 1px solid #FAB800;
    padding: 12px 25px;
    transition: .2s ease-in-out;
    margin-left: 10px;
}
.home-footer .footer-wrap .btn a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
@media screen and (max-width: 610px){
    .home-footer .footer-wrap{
        justify-content: center;
    }
    .home-footer .footer-wrap p{
       text-align: center;
    }
}
.service .service-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.service-content img{
    width: 100%;
    object-fit: cover;
}
.service-content .box{
    width: 100%;
    max-width: 33.3%;
    padding: 0 10px;
}
.service-content .box a{
    color: black;
}
.service-content .box:hover h3{
    color: #FAB800;
}
.service-content .box:hover a{
    color: #FAB800;
    text-decoration: underline;
}
@media screen and (max-width: 500px){
    .service-content .box{
        max-width: 100%;
        padding-bottom: 60px;
    }
}
.services{
    background-color: #F8F8F8;
}
.services .containar{
    width: 100%;
    max-width: 1200px;
    /* max-width: 1100px; */
    margin-right: auto;
}
.services .services-wrap{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.services-wrap .bg-video{
    width: 100%;
    max-width: 60%;
    position: relative;
}
.services-wrap .bg-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services-wrap .bg-video .poster{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
}
.services-wrap .bg-video .playIcon{
    position: absolute;
    bottom: 25px;
    right: 56px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px 15px 15px 18px;
    z-index: 3;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
}
.services-wrap .bg-video .pauseIcon{
    position: absolute;
    bottom: 25px;
    right: 56px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px 15px 15px 18px;
    z-index: 3;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    display: none;
}
.services-wrap .bg-video .pauseIcon img{
    padding: 2.5px 1px 0 0;
}
.services-wrap .content{
    width: 100%;
    max-width: 40%;
    padding: 30px 0;
    padding-left: 40px;
    
}
.services-wrap .content .box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.services-wrap .content .box:not(:last-child){
    margin-bottom: 30px;

}
.services-wrap .content .box .box-img{
    width: 100%;
    max-width: 22%;
}
.services-wrap .content .box .box-img img{
    width: 59px;
    height: 66px;
}
.services-wrap .content .box .heading{
    width: 100%;
    max-width: 78%;
    text-align: left;
}
.services-wrap .content .box h5{
    margin: 0;
    font-size: 20px;
}
.services-wrap .content .box p{
    font-size: 14px;
}
.services-wrap .content .box:hover h5{
    color: #FFCF4F;
}
@media screen and (max-width: 820px){
    .services-wrap .bg-video{
        max-width: 100%;
        height: 300px;

    }
    .services-wrap .content{
        max-width: 100%;
        margin-top: 30px;
    }
}
@media screen and (max-width: 350px){
    .services-wrap .content{
        padding: 0 10px;
    }
}
.work{
    text-align: center;
}
.work ul{
    margin-bottom: 40px;
}
.work ul li{
    display: inline;
    /* justify-content: center; */
    padding: 0 10px;
    cursor: pointer;
}
.work ul.tabs li.active{
    color: #FAB800;
    text-decoration: underline;
}
.work ul li a{
    color: black;
}
.work .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.work .wrapper .wrapper-content{
    padding: 5px 8px;
    width: 100%;
    max-width: 33.33%;
}
.work .wrapper-content .wrap{
    position: relative;
}
.work .wrapper-content .wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    /* .work .wrapper-content .wrap .overlay{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #FAB800;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    .work .wrapper-content .wrap:hover .overlay{
        opacity: 1;
    } */
.work .wrap .footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #FEF6DF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 10px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.work .wrap:hover .footer{
    opacity: 1;
}
.work .wrap .footer .para{
    position: relative;
}
.work .wrap .footer span{
    width: 40px;
    height: 3px;
    display: inline-block;
    background-color: #000;
    position: absolute;
    bottom: 15px;
    left: 50px;
}
.work .wrap .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.work .wrap .icons .file, .plus{
    padding: 8px;
    background-color: #FAB800;
    margin: 0 5px;
}
.work .wrap .icons img{
    width: 15px;
    height: 15px;
}
@media screen and (max-width: 991px){
    .work .wrapper .wrapper-content{
        max-width: 50%;
    }
}
@media screen and (max-width: 575px){
    .work .wrapper .wrapper-content{
        max-width: 100%;
    }

}
.feedback .feedback-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.feedback-content .box{
    width: 100%;
    max-width: 50%;
    padding: 0 20px;
    
}
.feedback-content .box .box-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.feedback-content .box .box-wrap .box-img{
    width: 100%;
    max-width: 25%;
    height: 171px;
}
.feedback-content .box .box-wrap .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feedback-content .box .box-wrap .content{
    width: 100%;
    max-width: 75%;
    padding-left: 30px;
}
@media screen and (max-width: 767px){
    .feedback-content .box{
        max-width: 100%;
        padding: 20px;
        
    }
}
@media screen and (max-width: 500px){
    .feedback-content .box .box-wrap .content{
    padding-left: 10px;

    }
}
.brands .brands-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.brands .brands-wrap .brand{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
    text-align: center;
}
.brands .brands-wrap .brand img{
    width: 100%;
    max-width: 230px;
    height: 115px;
    filter: grayscale(100%);
    object-fit: cover;
    margin: 0 auto
}
.brands .brands-wrap .brand:hover img{
    filter: grayscale(0);

}
@media screen and (max-width: 767px){
    .brands .brands-wrap{
        justify-content: center;
    }
    .brands .brands-wrap .brand{
    max-width: 50%;

    }
}
@media screen and (max-width: 400px){
    .brands .brands-wrap .brand{
        max-width: 100%;
        text-align: center;
    }
}
.numbers{
    background-color: #FAB800;
    color: white;
}
.numbers .number-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.numbers .number-content .box{
    width: 100%;
    max-width: 25%;
    text-align: center;
    padding: 20px 30px;
}
.numbers .number-content .box p{
    /* margin: 0; */
    font-size: 10px;
}
.numbers .number-content .box h1{
    margin: 0;
    font-size: 39px;
}
@media screen and (max-width: 575px){
    .numbers .number-content .box{
        padding: 10px;
    }
}
@media screen and (max-width: 400px){
    .numbers .number-content .box{
    max-width: 50%;
    margin-bottom: 20px;

    }
}
.h-work{
    background-color:#f9f9f9;
}
.h-work .h-work-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    max-width: 1100px;
    padding: 25px 20px;

}
.h-work-content .content{
    /*
    width: 100%; */
    /* text-align: center; */

}
.h-work-content .content p,h4{
    margin: 0;
    padding: 2px 0;
    /* line-height: .5; */
}
@media screen and (max-width: 898px){
    .h-work .h-work-content{
        justify-content: center;
    }
    .h-work .h-work-content .btn{
        margin-top: 30px;
    }
    
}
.news .news-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.news .news-content .box{
    width: 100%;
    max-width: 33.3%;
    padding: 0 10px;
}
.news .news-content .box h1{
    margin: 0;
    margin-top: 20px;
    /* line-height: 1.3; */
    font-size: 28px;
    font-weight: bold;
}
.news .news-content .box span{
    font-size: 11px;
}
.news .news-content .box span::before{
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg enable-background='new 0 0 24 24' height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m22.5 12h-21c-.827 0-1.5-.673-1.5-1.5v-4c0-.827.673-1.5 1.5-1.5h21c.827 0 1.5.673 1.5 1.5v4c0 .827-.673 1.5-1.5 1.5zm-21-6c-.275 0-.5.224-.5.5v4c0 .276.225.5.5.5h21c.275 0 .5-.224.5-.5v-4c0-.276-.225-.5-.5-.5z'/%3E%3Cpath d='m19.5 24h-15c-1.379 0-2.5-1.122-2.5-2.5v-10c0-.276.224-.5.5-.5s.5.224.5.5v10c0 .827.673 1.5 1.5 1.5h15c.827 0 1.5-.673 1.5-1.5v-10c0-.276.224-.5.5-.5s.5.224.5.5v10c0 1.378-1.121 2.5-2.5 2.5z'/%3E%3Cpath d='m12 24c-.276 0-.5-.224-.5-.5v-12c0-.276.224-.5.5-.5s.5.224.5.5v12c0 .276-.224.5-.5.5z'/%3E%3Cpath d='m12 6c-.036 0-.072-.004-.108-.012-.63-.14-3.817-.879-4.659-1.721-.473-.471-.733-1.099-.733-1.767s.26-1.296.732-1.768c.975-.975 2.561-.975 3.535 0 .842.841 1.581 4.029 1.721 4.66.037.167-.014.341-.135.461-.094.095-.222.147-.353.147zm-3-4.999c-.384 0-.769.146-1.061.438-.283.284-.439.66-.439 1.061s.156.777.439 1.061c.389.389 2.015.914 3.385 1.264-.351-1.37-.875-2.996-1.264-3.385-.291-.293-.676-.439-1.06-.439z'/%3E%3Cpath d='m12 6c-.131 0-.259-.052-.354-.146-.121-.121-.172-.295-.135-.461.14-.631.879-3.818 1.721-4.66.975-.976 2.561-.974 3.535 0 .473.471.733 1.099.733 1.767s-.26 1.296-.732 1.768c-.842.842-4.029 1.581-4.659 1.721-.037.007-.073.011-.109.011zm3-4.999c-.384 0-.769.146-1.061.438-.389.389-.913 2.015-1.264 3.385 1.37-.35 2.996-.875 3.385-1.264.284-.283.44-.659.44-1.06s-.156-.777-.439-1.061c-.292-.292-.677-.438-1.061-.438zm-1.414.085h.01z'/%3E%3C/svg%3E");
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: contain;
    margin-right: 3px;
}
.news .news-content .box:hover a{
    text-decoration: underline;
    color: #FAB800;
}
@media screen and (max-width: 767px){
    .news .news-content .box h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 575px){
    .news .news-content .box{
        max-width: 100%;
        margin-bottom: 40px;
    }
    .news .news-content .box h1{
        font-size: 28px;
    }
}
.footer{
    background: #202837;
    color: #ffff;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
}
.footer-content .r-post{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
}
.footer-content .r-post p{
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: normal;
}
.footer-content .r-post p::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23fff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 480' style='enable-background:new 0 0 480 480;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M461.248,194.736l-128-128c-24.928-24.96-65.568-24.96-90.496,0C230.656,78.8,224,94.896,224,111.984s6.656,33.184,18.752,45.248l82.752,82.752l-82.752,82.752C230.656,334.832,224,350.896,224,367.984s6.656,33.152,18.752,45.248c12.096,12.096,28.16,18.752,45.248,18.752s33.152-6.656,45.248-18.752l128-128C473.344,273.168,480,257.072,480,239.984S473.344,206.8,461.248,194.736z M438.624,262.608l-128,128c-12.128,12.096-33.12,12.096-45.248,0c-12.48-12.48-12.48-32.768,0-45.248l105.376-105.376L265.376,134.608c-6.048-6.048-9.376-14.08-9.376-22.624s3.328-16.576,9.376-22.624c6.24-6.24,14.432-9.376,22.624-9.376c8.192,0,16.384,3.136,22.624,9.344l128,128c6.048,6.08,9.376,14.112,9.376,22.656S444.672,256.56,438.624,262.608z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M237.248,194.736l-128-128c-24.928-24.96-65.568-24.96-90.496,0C6.656,78.8,0,94.896,0,111.984s6.656,33.184,18.752,45.248l82.752,82.752l-82.752,82.752C6.656,334.832,0,350.896,0,367.984s6.656,33.152,18.752,45.248c12.096,12.096,28.16,18.752,45.248,18.752s33.152-6.656,45.248-18.752l128-128C249.344,273.168,256,257.072,256,239.984S249.344,206.8,237.248,194.736z M214.624,262.608l-128,128c-12.128,12.096-33.12,12.096-45.248,0c-12.48-12.48-12.48-32.768,0-45.248l105.376-105.376L41.376,134.608C35.328,128.56,32,120.528,32,111.984s3.328-16.576,9.376-22.624c6.24-6.24,14.432-9.376,22.624-9.376s16.384,3.136,22.624,9.344l128,128c6.048,6.08,9.376,14.112,9.376,22.656S220.672,256.56,214.624,262.608z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

}
.footer-content .r-news{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
}
.footer-content .r-news .box-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-content .r-news .box-wrap .box-img{
    width: 100%;
    max-width: 30%;
    
}
.footer-content .r-news p{
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.54;
}
.footer-content .r-news .box-wrap .box-content{
    width: 100%;
    max-width: 70%;
    padding-left: 12px;
}
.footer-content .r-info{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
}
.footer-content .r-info p.mail::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23fff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M467,61H45C20.218,61,0,81.196,0,106v300c0,24.72,20.128,45,45,45h422c24.72,0,45-20.128,45-45V106C512,81.28,491.872,61,467,61z M460.786,91L256.954,294.833L51.359,91H460.786z M30,399.788V112.069l144.479,143.24L30,399.788z M51.213,421l144.57-144.57l50.657,50.222c5.864,5.814,15.327,5.795,21.167-0.046L317,277.213L460.787,421H51.213z M482,399.787L338.213,256L482,112.212V399.787z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.footer-content .r-info p.address::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill= '%23fff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 480' style='enable-background:new 0 0 480 480;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M240,0C142.798,0,64,78.798,64,176c0,94.576,162.896,292.712,169.832,301.096c1.52,1.839,3.782,2.904,6.168,2.904 c2.386,0,4.648-1.065,6.168-2.904C253.104,468.712,416,270.576,416,176C416,78.798,337.202,0,240,0z M240,459.288 C209.896,421.712,80,254.976,80,176c0.101-88.324,71.677-159.899,160-160c88.324,0.101,159.899,71.676,160,160 C400,254.96,270.104,421.704,240,459.288z'/%3E%3Cpath d='M348.88,145.664l-104-80c-2.877-2.214-6.883-2.214-9.76,0l-104,80c-3.499,2.697-4.149,7.721-1.452,11.22 c1.514,1.964,3.852,3.115,6.332,3.116h24v88c0,4.418,3.582,8,8,8h144c4.418,0,8-3.582,8-8v-88h24 c4.418-0.002,7.998-3.586,7.996-8.004C351.995,149.516,350.844,147.178,348.88,145.664z M256,240h-32v-48h32V240z M312,144 c-4.418,0-8,3.582-8,8v88h-32v-56c0-4.418-3.582-8-8-8h-48c-4.418,0-8,3.582-8,8v56h-32v-88c0-4.418-3.582-8-8-8h-8.48 L240,82.096L320.48,144H312z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

p.mail, p.address{
    color: #fff;
}
.footer-content .r-info .para p{
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.69;
    color: #fff;
    margin: 0;
    line-height: .9;

}
.footer-content .r-info .para p a{
    color: #fff;
}
.footer-content .r-info .para p::before{
    content: "";
background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23fff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 473.806 473.806' style='enable-background:new 0 0 473.806 473.806;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1C420.456,377.706,420.456,388.206,410.256,398.806z'/%3E%3Cpath d='M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11S248.656,111.506,256.056,112.706z'/%3E%3Cpath d='M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.footer-content .r-info a{
    padding: 5px;
}
.footer-content .r-info svg{
    width: 15px;
    height: 15px;
    fill: #fff;
}
.footer-content .r-mail{
    width: 100%;
    max-width: 25%;
}
.footer-content .r-mail .mail-heading{
    margin-top: 30px;
}
.footer-content .r-mail p{
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.69;
}
.footer-content .r-mail .input-wrap{
    position: relative;
}
.footer-content .r-mail .input-wrap input{
    width: 100%;
    padding: 7px 5px;
    font-size: 13px;
    outline: none;
}
.footer-content .r-mail .input-wrap button{
    background-color: #FAB800;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 14px;
    outline: none;
}
@media screen and (max-width: 991px){
    .footer-content .r-post{
        max-width: 50%;
    }
    .footer-content .r-news{
        max-width: 50%;
    }
    .footer-content .r-info{
        max-width: 50%;
        margin-top: 30px;
    }
    .footer-content .r-mail{
        max-width: 50%;
        margin-top: 30px;

    }

}
@media screen and (max-width: 575px){
    .footer-content .r-post{
        max-width: 90%;
        margin: 0 auto 30px auto;
    }
    .footer-content .r-news{
        max-width: 90%;
        margin: 0 auto 30px auto;
    }
    .footer-content .r-info{
        max-width: 90%;
        margin: 0 auto 30px auto;
    }
    .footer-content .r-mail{
        max-width: 90%;
        margin:0 auto;
    }
}
.footer-bar{
    background-color: #4B5B6D;
}
.footer-bar .bar-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10px;

}
.footer-bar ul{
    display: flex;
    flex-wrap: wrap;
}
.footer-bar ul li{
    margin-left:12px;
}
.footer-bar ul a{
    color: white;
    transition: color .25s ease-in-out;
}
.footer-bar ul a:hover{
    color: #FAB800;
}
@media screen and (max-width: 522px){
    .footer-bar .bar-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-bar ul{
        justify-content: center;
    }
}
